 <title>actualizar turno</title>
<h1 class="text-center mt-5" style="color: brown">
    Actualizar turno
</h1>

<div class="m-4">
    {{ productoParaActualizar }}
</div>

<div class="m-4">
    {{ id }}
</div>


<div class="container">
        <form action="/turnos/actualizarturno/{{ turnoParaActualizar._id }}" method="post">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" value={{ turnoParaActualizar.nombre }}>
            </div>
            <div class="mb-3">
                <label for="apellido" class="form-label">apellido</label>
                <input type="text" class="form-control" name="apellido" value= {{ turnoParaActualizar.apellido }}>
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">telefono</label>
                <input type="text" class="form-control" name="telefono" value= {{ turnoParaActualizar.telefono}}>
            </div>
            
            <div class="mb-3">
                <label for="email" class="form-label">email</label>
                <input type="text" class="form-control" name="email" value= {{ turnoParaActualizar.email }}>
            </div>
            <div class="mb-3">
                <label for="fecha" class="form-label">fecha</label>
                <input type="date" class="form-control" name="fecha" value= {{ turnoParaActualizar.fecha }}>
            </div>
            <div class="mb-3">
                <label for="hora" class="form-label">hora</label>
                <input type="time" class="form-control" name="hora" value= {{ turnoParaActualizar.hora }}>
            </div>
            <div class="mb-3">
                <label for="imagen" class="form-label">Url</label>
                <input type="text" class="form-control" name="imagen" value= {{ turnoParaActualizar.imagen }}>
            </div>
            <div class="mb-3">
                <label for="servicio" class="form-label">servicio"</label>
                <input type="text" class="form-control" name="servicio" value= {{ turnoParaActualizar.servicio }}>
            </div>
            <div class="text-center m-4">
                <button type="submit" class="btn btn-outline-warning w-50">Actualizar turno</button>
            </div>
            <div class="text-center m-4">
                <button type="reset" class="btn btn-outline-dark w-50">Borrar Datos</button>
            </div>
        </form>
</div>